@import "../../../assets/css/index.scss";

.popup-holder {
  background-color: $grey-color-100;
  padding: $spacing-4;
  width: 80%;

  .close-popup {
    position: absolute;
    right: $spacing-2;
    top: $spacing-2;
    color: $accent-color-red;
    cursor: pointer;
    font-size: $font-size-5;

    @include largeLaptops {
      top: $spacing-6;
      right: $spacing-6;
    }
  }

  @include largeLaptops {
    width: 40%;
    padding: $spacing-6;
  }

  .checkout-holder {
    &-top {
      h3 {
        margin: 0;
      }
      h5 {
        margin-top: $spacing-2;
        font-weight: $normal-font-weight;
      }
      margin-bottom: $spacing-6;
    }

    .price-section {
      padding: $spacing-3 0;
      margin-bottom: $spacing-5;
      // background-color: blue;
      .price-picker {
        padding-bottom: $spacing-2;
        display: flex;
        align-items: baseline;

        &-decrement,
        &-increment {
          color: $accent-color-red;
          font-size: $font-size-2;
          border: none;
          cursor: pointer;
          margin: 0 calc((100% - 68% -18%) / 4);
          -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        }

        &-increment {
          color: $accent-color-green;
          margin: 0;
        }

        &-display {
          font-size: $font-size-3;
          width: 15%;
          display: block;
          text-align: center;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $accent-color-green;
        }

        &-text {
          width: 68%;
          margin-left: $spacing-2;
          font-size: $font-size-3;
        }
      }

      small {
        display: block;
        margin: 0;
        width: 80%;
        font-size: $font-size-1;
        color: $grey-color-400;

        @include largeLaptops {
          width: 70%;
        }
      }
    }

    &-total {
      h3 {
        margin-bottom: $spacing-5;
        padding: $spacing-3 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      // border-top: 1px solid $grey-color-200;
      // border-bottom: 1px solid $grey-color-200;
    }

    .paystack-button {
      width: 100%;
      padding: $spacing-3;
      border: none;
      background-color: $primary-color-900;
      color: $grey-color-100;
      text-transform: uppercase;
      font-weight: $heavy-font-weight;
      letter-spacing: $wide-letter-spacing;
      border-radius: 4px;
    }

    .verifying {
      margin: $spacing-6 0;
      text-align: center;
      h3 {
        margin: 0;
        font-weight: $normal-font-weight;
        font-size: $font-size-6;
        margin-bottom: $spacing-4;
      }
    }
  }
}
